/.idea/
/apps/*/*
/build/fuzzy_workflow.py
/build/windows_patch/windows-7-sp1-32bit/*.msu
/build/windows_patch/windows-7-sp1-64bit/*.msu
/build/windows_patch/windows-8-32bit/*.exe
/build/windows_patch/windows-8-64bit/*.exe
/build/manifest.pkl
/chore/custom_packages/*
/chore/*
/conf/auto_saved.pkl
/deleted/
/deps/
/depsland/webui/assets/
/depsland/webui/static/
/dist/*
/docs/*/*.html
/lib/
/oss/*/*
/pypi/*/[^.]*
/pypi_self/*/[^.]*
/python/*
/sidework/bat_2_exe_template_gen/*.exe
/sidework/ui_prototype/
/temp/*/*
/tests/
/unittests/demo_project/hello-world/dist/
/unittests/demo_project/hello-world/manifest.pkl
/unittests/depsland_run_test/dist/
/manifest.bak.json

__pycache__/
dist/
.DS_Store

!/apps/*/.gitkeep
!/chore/custom_packages/.gitkeep
!/deps/.gitkeep
!/dist/.gitkeep
!/oss/apps/.gitkeep
!/oss/test/.gitkeep
!/python/README.md
!/python/README.zh.md
!/temp/.self_upgrade/.gitkeep
!/temp/.unittests/.gitkeep
!/temp/.gitkeep
