/.bin/
/.ruff_cache/
/apps/**
/build/fuzzy_workflow.py
/build/windows_patch/windows-7-sp1-32bit/*.msu
/build/windows_patch/windows-7-sp1-64bit/*.msu
/build/windows_patch/windows-8-32bit/*.exe
/build/windows_patch/windows-8-64bit/*.exe
/build/manifest.pkl
/chore/**
/config/.redirect
/config/auto_saved.pkl
/deleted/
/demo/*/dist/
/depsland/.project/
/depsland/_cache/**
/depsland/assets/*
/depsland/gui/patch_maker_online/_grocery/
/depsland/gui/patch_maker_online/_appid_to_project.yaml
/depsland/gui/patch_maker_online/_project_paths.yaml
/depsland/gui/patch_maker_online/_user_manifest.pkl
/depsland_updater/dist/
/docs/*/*.html
/lib/
/oss/**
/product/
/pypi/**
/python/*
/resources/
/run/_doctor_cache/*
/sidework/bat_2_exe_template_gen/*.exe
/sidework/depsland_updater/dist/
/sidework/doctor/_*
/sidework/mini_launcher/*.exe
/sidework/mini_launcher/_readme_meta.json
/sidework/mini_launcher/_target_meta.json
/sidework/mini_launcher/depsland_online_installer/*
/sidework/mini_launcher/dist/
/sidework/mini_launcher/nuitka_general_launcher/*
/sidework/patch_maker/generated_patches/*
/sidework/patch_maker/grocery/*
/sidework/patch_maker/patch_extractor_template.exe
/temp/*
/test/_config/
/test/_example_manifest.pkl
/wiki/book/

.depsland/
.idea/
.venv/
.web/
__pycache__/
dist/**

*.bak.*
*.bak[0123456789].*
.DS_Store

!**/.gitkeep
!/apps/.bin/
!/chore/disguised_packages/
!/chore/disguised_packages/*/__init__.py
!/chore/disguised_packages/readme.md
!/chore/patch_maker/
!/chore/patch_maker/generated_patches/
!/chore/patch_maker/grocery/
!/chore/patch_maker/patch_extractor_template.v
!/depsland/assets/*.ico
!/depsland/assets/*.md
!/depsland/assets/*.png
!/depsland/_cache/folder_snapshot/
!/depsland/_cache/project_cache/
!/dist/
!/dist/standalone/
!/oss/apps/
!/oss/pypi/
!/oss/test/
!/pypi/*/
!/pypi/index/snapdep/
!/python/*._pth
!/python/sitecustomize.py
!/sidework/mini_launcher/depsland_online_installer/*.py
!/sidework/mini_launcher/depsland_online_installer/readme.zh.txt
!/sidework/mini_launcher/depsland_online_installer/tree_shaking.yaml
!/sidework/mini_launcher/general_launcher/*.py
