/.idea/
/apps/*
/build/setup_bundle/.assets
/build/setup_bundle/setup_failed_help.base64.html
/build/windows_patch/windows-7-sp1-32bit/*.msu
/build/windows_patch/windows-7-sp1-64bit/*.msu
/build/windows_patch/windows-8-32bit/*.exe
/build/windows_patch/windows-8-64bit/*.exe
/build/manifest.pkl
/chore/custom_packages/*
/conf/oss_*
/deleted/
/dist/*
/pypi/*/[^.]*
/python/*
/temp/*/*
/tests/
/unittests/data/hello_world_demo_project/manifest*

__pycache__/
.DS_Store

!/apps/.venv/.gitkeep
!/apps/.gitkeep
!/chore/custom_packages/.gitkeep
!/dist/.gitkeep
!/python/README.md
!/python/README.zh.md
!/temp/.fake_oss_storage/.gitkeep
!/temp/.self_upgrade/.gitkeep
!/temp/.unittests/.gitkeep
!/temp/.gitkeep
