# run command: py build/install_requirements.py -h

argsense
conflore
lk-logger >= 5.4.8
lk-utils
oss2
pyyaml
rich
semver >= 3.0.0dev4

# === gui ===
# flet
# pyside6
# pyside6-lite  # from proj:/qmlease/sidework/pyside6_tailored_package
qmlease >= 3.1.0a20
